/*-----------------------------------------------------------------------------------
CSS INDEX
===================
1. Google font
2. Theme Default CSS
3. Button-Style
4. Helper-Classes
5. MainMenu-Area
6. Page-Title
7. Home-Area
8. Progress-Area
10. Feature-Area
11. Service-Box
13. instruction-Area
14. Download-Area
18. Footer-Area
19. ScrollUp-Button
23. Form-Stype
-----------------------------------------------------------------------------------*/

/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=HelvLight');

/*-------------------
2. Theme Default CSS
--------------------*/

* {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #768ede;
}

img {
    width: 100%;
    height: 200px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 15px;
    /*font-weight: 400;*/
    line-height: 1.4em;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Comfortaa',"Helvetica Neue",Helvetica,Arial,sans-serif; /*'Open Sans', sans-serif*/
    /*font-weight: 400;*/
    font-size: 16px;
    line-height: 32px;
    color: /*#8790af*/ #464956;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*-- 3. Button-Style --*/

.bttn-white {
    position: relative;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
}

.bttn-white img {
    height: 20px;
    margin-right: 5px;
    margin-top: -5px;
    display: inline-block;
}



.bttn-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.bttn-white.active,
.bttn-white:hover {
    color: #ffffff;
}

.bttn-white.active:before,
.bttn-white:hover:before {
    opacity: 0;
}

.bttn-default,
.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #768ede;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    /*font-weight: 700;*/
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.bttn-default .lnr,
.bttn-white .lnr {
    margin-right: 10px;
}


.bttn-default {
    padding: 12px 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.bttn-default:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sq {
    border-radius: 3px !important;
}


/*-- 4. Helper-Classes --*/

.section-padding-top {
    padding-top: 10px;
    margin-top: 10px;
}

.section-padding-top .some{
    background:#d8d8d8;
    padding: 10px;
}

.section-padding-top .some #one{
    padding-right: 50px;
    width:200px;
    height:50px;
}

.section-padding-top .some #two{
    width:150px;
    height:50px;
}

.section-padding {
    padding-top: 20px;
    padding-bottom: 0px;
}

.upper {
    text-transform: uppercase;
}

.angle,
.overlay {
    position: relative;
    z-index: 1;
}

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    /*background: rgb(65,105,225);*/
    background: rgb(0,0,0);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 100%);
    background: linear-gradient(45deg, rgba(0,0,0, 1) 0%, rgba(0,0,0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    opacity: 0.6;
    /* IE6-9 fallback on horizontal gradient */
    z-index: -2;
}

.angle:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left bottom, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left bottom, right top, color-stop(50%, #ffffff), color-stop(50%, transparent)) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(left bottom, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right top, #ffffff 50%, transparent 50%) repeat scroll 0 0;
    z-index: -1;
}

/*-- 5. MainMenu-Area --*/

.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 140px 15px 0;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: rgb(72, 44, 191);
    background: rgb(221, 229, 231);*/
    background: rgb(0,0,0);
    background: -webkit-linear-gradient(45deg, rgba(0,0,0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
    background: -o-linear-gradient(45deg, rgba(0,0,0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
    background: linear-gradient(45deg, rgba(0,0,0, 0.7) 0%, rgba(0,0,0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde5e7', endColorstr='#dde5e7', GradientType=1);
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #000000;
}

.mainmenu-area.affix {
    position: fixed;
    top: 0;
}

.mainmenu-area.affix:before {
    opacity: 1;
}

.mainmenu-area .right-button {
    position: absolute;
    right: 15px;
    top: 12px;
}

.mainmenu-area .right-button a {
    color: #ffffff;
    padding: 10px 20px;
    /*border-radius: 50px;*/
    background-color: rgba(0, 255, 0, 0.3);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /*font-weight: 700;*/
    font-size: 18px;
    margin: 0 15px;
}

.mainmenu-area .right-button a:hover {
    background-color: rgba(0, 255, 0, 0.3);
    /*color: #768ede;*/
}

.mainmenu-area ul.mainmenu {
    text-align: center;
    float: none;
    display: block;
}

.mainmenu-area ul.mainmenu li {
    float: none;
    display: inline-block;
    text-align: center;
}

.mainmenu-area ul.nav.navbar-nav li a {
    color: #ffffff;
    padding: 10px 2px;
    text-transform: capitalize;
    background: transparent;
    /*font-weight: 600;*/
    border-bottom: 2px solid transparent;
    margin: 0 15px;
    font-size: 18px;
}

.mainmenu-area ul.nav.navbar-nav li a:hover,
.mainmenu-area ul.nav.navbar-nav li.active a {
    border-bottom-color: #ffffff;
    font-size: 18px;
}

.mainmenu-area .navbar-brand {
    height: auto;
    padding: 0 15px;
}

.mainmenu-area .navbar-brand img {
    height: 40px;
}

/*-- 6. Page-Title --*/

.page-title .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8790af;
    margin-left: 0px;
    /*font-weight: 600;*/
}

.text-center.page-title .title:before,
.page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    text-align: left;
}

/*-- 7. Home-Area --*/

.home-area {
    width: 100%;
    background: url('images/tole.jpg') no-repeat scroll center bottom / cover;
    padding-top: 26vh;
    color: #ffffff;
    text-align:center;
    margin-bottom: 100px;
}

.home-area .mobile-image {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -158px;
    height:50px;
    width:50px;
}
.home-area p{
    font-size:35px;
}

.section-padding-top .mobile-image{
    margin-right: 0px;
}

/*-- 8. Progress-Area --*/

.progress-area .mobile-image {
    margin-top: 50px;
    margin-bottom: 50px;
    width:200px;
    height:200px;
}
.progress-area .end{
    border-bottom: 1px solid #8790af;
}

.progress-area #first{
    height:450px;
    width: 350px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 25px;
}
.progress-area #second{
    height:450px;
    width: 280px;
    position: absolute;
    z-index: 3;
    top: 5px;
    left: 190px;
}
/*-- 10. Feature-Area --*/

.feature-area {
    color: #ffffff;
    background-color: #5e88fc;
    background-image: url('images/feature-bg.png');
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: auto 94%;
    margin-bottom: 142px;
    font-size: 25px;
}

.feature-area .page-title .title {
    color: #ffffff;
}

.feature-area .mobile-image {
    margin-bottom: -142px;
}

/*-- 11. Service-Box --*/

.service-box {
    position: relative;
    padding-left: 100px;
}

.team-slide .owl-controls .owl-nav > div,
.service-box .box-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 72px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    color: #5e88fc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.team-slide .owl-controls .owl-nav > div:hover,
.service-box:hover .box-icon {
    color: #ffffff;
}

.team-slide .owl-controls .owl-nav > div:before,
.service-box .box-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.team-slide .owl-controls .owl-nav > div:hover:before,
.service-box:hover .box-icon:before {
    opacity: 0;
}

.service-box h4 {
    margin-bottom: 10px;
}

/*-- 13. instruction-Area --*/

.instruction-area {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: #ffffff;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255, 1) 0%, rgba(255,255,255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(255,255,255, 1) 0%, rgba(255,255,255, 1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255, 1) 0%, rgba(255,255,255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #666666;
}

/*--Carousel */

.carousel-indicators li.active {
  border: 1px solid #000000;
}
#myCarousel .carousel-indicators .active {
  background-color: #000000;
}
#myCarousel .carousel-indicators li {
  background-color: gray;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
}
.carousel-indicators{
    padding-left: 200px;
}
#myCarousel {
    padding-left:200px;
}

/*--Carousel End--*/

/*-- 18. Footer-Area --*/

.new-area{
    width: 100%;
    color: #000000;
    position: relative;
    z-index: 9999;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: rgb(0,0,0);
    background-image: url("landing/store.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.footer-box {
    text-align: center;
}

.footer-box .box-icon {
    width: 75px;
    height: 75px;
    margin: auto auto auto auto;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    border-radius: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-box .box-icon:before {
    content: "";
    position: absolute;
    left: 4px;
    /*top: 4px;*/
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 2px solid #ffffff;
    border-radius: 100%;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

.footer-box:hover .box-icon {
    color: #5e88fc;
}

.footer-box:hover .box-icon:before {
    background-color: #ffffff;
}

.footer-bottom {
    padding: 20px 0;
    background-color:#D8D8D8;
    border:#707070;
    margin-top:0px;
    /*border-top: 1px solid #5e88fc;*/
}

.footer-bottom .logo{
    width:200px;
    height:100px;
    margin-top:-30px;
}

/*-- 19. ScrollUp-Button --*/

#scrollUp {
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    /*color: #5e88fc;*/
    color: #000000;
}

.preloader {
    background-color: #ffffff;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.preloader span {
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;
}

@-webkit-keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
}

@keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
}

/*-- 23. Form-Stype --*/

.form-control {
    border-radius: 2px;
    padding: 15px 20px;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-double .box {
    width: calc(50% - 15px);
    float: left;
}

.form-double .box.last {
    float: right;
}
.footer-area .addres{
    padding-left:150px;
    color:white;
    text-align:left;
}
/* Form Style 8*/
.form-style-8{
    font-family: 'Comfortaa', arial, sans;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 textarea
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 80%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    margin-left: 50px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    align:center;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #ddd;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ddd;
    box-shadow: inset 0px 1px 0px 0px #ddd;
    background-color: transparent;/*#2CBBBB;*/
    border: 1px solid #ddd;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    /*background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);*/
    background-color:transparent/*#34CACA*/;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 3;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.padd{
    padding-left:0px;
    padding-right:0px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}